* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar {
  background-color: #6f6af7;
  height: 5rem;

}

.navbar ul {
  display: flex;
  justify-content: space-between;
  padding: 25px 10px;
  color: #fff;
}

.navbar li {
  list-style: none;
  display: flex;
  flex-direction: row;


}

.navbar li a {
  text-decoration: none;
  justify-content: space-between;


  color: #FFF;
  font-family: DM Sans;
  font-size: 150%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10%;
}

.information {
  margin-right: 30px;
  
}

.more {
  margin-right: 600%;
  position: relative;
  margin-left: 200%;
  cursor: pointer;
}

.arrow {
  width: 300%;
  
  height: 6%;
  position: relative;
  top: -26%;
  cursor: pointer;


  flex-shrink: 0;
  margin-left: -34%;


}

::placeholder {
  font-family: "DM Sans", sans-serif;

}

.Dappr {
  margin-right: 10%
}

.Dappr a {
  display: flex;
  font-family: "Delius Unicase", cursive;
  font-size: 25px;
  height: 50%;
  padding-bottom: -1.4em;
  align-self: center;

  color: white;

  text-decoration: none;
}

.Dappr a h1 {
  display: flex;
  font-family: "Delius Unicase", cursive;
  font-size: 33px;
  height: 110%;
  padding-bottom: -1.4em;
  align-self: center;
  margin-left: 20%;
  ;
  font-weight: bolder;


  color: white;
  text-decoration: none;




}





.search {
  border-radius: 63px;
  border-width: 0;
  width: 95%;
  padding: 0.4em;
  height: 2.3rem;

  margin-left: 55%;

  background-image: url("search.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  font-size: larger;


}

.menu {
  height: 200%;
  width: -4%;
  margin-left: 16%;
  margin-right: 0%;
  margin-top: 0.2%;

  cursor: pointer;
}

.menuimg {
  width: 50%;
  display: flex;
  margin-top: 305;
  position: relative;
  top: -20%;
}

.search-field {
  position: relative;
}

.search-icon {
  position: absolute;
  transform: translatex(-150%);
  height: 0.8em;
  width: 0.8em;
  cursor: pointer;
  top: 20%;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 7.3%;
  margin-bottom: 0.7%;
}

.main-img {
  width: 25%;
  height: 50.08vh;
  margin: 0 0 0 5%;
  border-radius: 5px;
  margin-top: 0.4%;
  margin-left: 5%;
  margin-right: 2%;
  filter: drop-shadow(3px 3px 6px rgba(122, 122, 122, 0.9));


}

.Textbox {
  margin: 0 0 0 2%;
  margin-left: 0.1%;
  width: 61%;
  background-color: #e5d8ff;
  height: 52vh;
  margin-bottom: 35%;
  ;


  border-radius: 20px;
  border: 6px solid #FFF;
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
}

.inner-text {
  margin: 5px 0 0 10px;
  color: #6f7373;
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5em;
  margin-left: 3%;
  margin-top: 2%;
}


.social-media {
  display: flex;
  flex-direction: column;
  height: 115vh;
  margin-top: 6%;
  margin-right: 0.3%;


  width: 3em;


}

.whatsapp {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  border-radius: 5px;
  position: sticky;
  top: 12%;

}

.facebook {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  border-radius: 5px;
  position: sticky;
  top: 18.8%;


}

.twitter {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  border-radius: 5px;

  position: sticky;
  top: 25.5%;

}


#stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -35%;


}

.questions {
  background-color: #929dff;
  font-family: DM Sans;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.04em;
  max-width: 15%;
  border-radius: 5px;
  color: #fff;
  padding-left: 10px;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

.answers{
  background-color: #734cf2;
  font-family: DM Sans;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.04em;
  max-width: 15%;
  border-radius: 5px;
  color: #fff;
  padding-left: 10px;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

.participated {
  background-color: #d288ff;
  font-family: DM Sans;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.04em;
  max-width: 15%;
  width: 20%;
  border-radius: 5px;
  color: #fff;
  padding-left: 10px;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

.passed {
  background-color: #000000;
  font-family: DM Sans;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.04em;
  max-width: 15%;
  border-radius: 5px;
  color: #fff;
  padding-left: 10px;
  width: 20%;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

.customer-care {
  position: fixed;
  right: 2em;
  bottom: -1em;
  ;
  height: 7em;
  cursor: pointer;
  width: 9em;

}

#information {
  display: flex;
  flex-wrap: wrap;
  background-color: #483eff;
  margin: 7em 5%;
  padding: 2% 2%;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: -1%;
  margin-bottom: 5%;
}

.information-left {
  flex-basis: 30%;
  padding: 40px 20px;
  margin-top: 3%
}

.your-info {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 16vw;
  border: 2px solid #fff;
  margin: 0 0 2em 0;
  text-align: center;
  padding: 2em;
  font-family: DM Sans;
  font-weight: 900;
  letter-spacing: 0.04em;
  border-radius: 15px;
  cursor: pointer;
  color: #000;
  font-size: 20px;
  line-height: 20%;
  background: #BCE0F6;
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.39);


}
.bookmarks {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 16vw;
  border: 0.2em solid #fff;
  margin: 0 0 2em 0;
  text-align: center;
  padding: 2em;
  font-family: DM Sans;
  font-weight: 900;
  letter-spacing: 0.04em;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  line-height: 20%;
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.39);
  background: #483EFF;


}
.settings {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 16vw;
  border: 0.2em solid #fff;
  margin: 0 0 2em 0;
  text-align: center;
  padding: 2em;
  font-family: DM Sans;
  font-weight: 900;
  letter-spacing: 0.04em;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  line-height: 20%;
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.39);
  background: #483EFF;


}


.information-right {
  flex-basis: 70%;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
}

.details {
  flex-basis: 80%;

}

.details h2 {
  letter-spacing: 0.1em;
  color: #04285A;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.details ul li span {
  font-size: 20px;
  color: #04285A;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.1em;


}

.name {
  margin-right: 1%;

}

.email {
  margin-right: 1.5%;

}

.phone {
  margin-right: 1%;

}

.marks {
  margin-right: 1%;

}

.next {
  flex-basis: 20%;
  align-self: end;
}

.information-right h2 {
  color: #04285a;
  padding: 3% 0 0 4%;
  font-family: "Inter", sans-serif;
}

.information-right li {
  list-style: none;
  line-height: 3rem;
  font-family: "Roboto", sans-serif;
}

.information-right ul {
  padding: 3% 0 10% 7%;
}

.information-active {
  background-color: #bce0f6;
  color: #000000;
}

.next-button {
  background-color: #000000;
  color: #fff;
  display: flex;

  padding: 15px 25px;
  width: 80%;
  border-width: 0;
  margin-bottom: 1em;
  cursor: pointer;
  border-radius: 9px;
  background: #000;
  color: #FFF;
  font-family: Roboto;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;

}

.next-arraw {
  width: 27%;
  font-weight: 900;

}

@media only screen and (max-width: 1375px) {
  .brand {
    margin-right: 3%;
  }

  .navbar li a {
    margin: 0 0;
  }

  .hamburger {
    margin-left: 2%;
  }

  .main-img {
    width: 30%;
    height: 350px;
  }

  .main-text {
    width: 50%;
    height: 350px;
  }

  #card {
    margin-top: 1em;
  }

  .inner-text {
    font-size: 20px;
  }

  .first-card {
    font-size: 1.2em;
  }

  .second-card {
    font-size: 1.2em;
  }

  .third-card {
    font-size: 1.2em;
  }

  .fourth-card {
    font-size: 1.2em;
  }

  .information-section {
    font-size: 14px;
  }
}